.chartContainer {
  width: auto;
  height: auto;
  position: relative;
}

.chartOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
