.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltipbutton {
  border: none;
  background-color: transparent;
  display: inline-block;
  margin-left: 3px;
  background-size: 1rem 1rem;
  background-position: 50%;
  background-size: 1.5rem 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
}
