.if.hero .if.content.navigation .if.navigation-list {
  max-width: 100%;
}
.navigation-action {
  text-align: left;
}
.if.hero .if.content.navigation.step-2 .if.navigation-container {
  overflow-x: hidden;
  overflow-y: hidden;
}
.if.hero button.primary.large {
  max-width: 100%;
}
